/*Variables*/
:root {
    --fondo: blue;
    --primary-color: white;
    --secondary-color: black;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #e5e5e5;
}

/*Diseño para dispositivos de escritorio*/

body {
    font-family: "Montserrat", sans-serif;
    background: var(--fondo);
    color: var(--text-color);
}

/*NavBar General*/
header {
    background-color: red;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/*NavBar*/
.topheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color); /* X Y Blur Color*/
    position: fixed;
    background: var(--theme-color);
    left: 0; /*left y top nos evitan que en algún momento se mueva de lugar nuestro Header*/
    top: 0;
	width:100%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto; /*Centrado horizontal automático*/
}

/*Logo*/
.logo {
    display: flex;
    align-items: center;
    /*Fuente*/
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
}

.logo img {
    border-radius: 50%;
}

/*Menú*/
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
}

.menu a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}

/*Botónes para menú en dispositivo movil*/
.copen-menu,
.close-menu {
	display: none;
}

/*Diseño para dispositivos móviles*/

@media (max-width: 980px){
	
}